<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Pokemon Team</a>
</nav>

{{comment.length}}
<div>
    <div class="row justify-content-center">
        {{#each c}}
        <div class="col-md-6" style="margin-top: 50px;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{this}}</h5>
                    
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <br>
</div>